<h2>Alignment</h2>
<div class="uk-grid" data-uk-grid-margin>
    <div class="uk-width-medium-1-3">
        <figure class="uk-overlay"><img src=" /images/demo.jpg" width="600" height="400" alt="">
            <figcaption class="uk-overlay-panel">
                <h3>Title</h3>
                <p>Lorem <a href="#">ipsum dolor</a> sit amet, consetetur sadipscing elitr.</p>
            </figcaption>
        </figure>
        <p class="uk-text-center">Default</p>
    </div>
    <div class="uk-width-medium-1-3">
        <figure class="uk-overlay"><img src=" /images/demo.jpg" width="600" height="400" alt="">
            <figcaption class="uk-overlay-panel uk-overlay-background uk-flex uk-flex-bottom">
                <div>
                    <h3>Title</h3>
                    <p>Lorem <a href="#">ipsum dolor</a> sit amet, consetetur sadipscing elitr.</p>
                </div>
            </figcaption>
        </figure>
        <p class="uk-text-center">Background, Bottom</p>
    </div>
    <div class="uk-width-medium-1-3">
        <figure class="uk-overlay"><img src=" /images/demo.jpg" width="600" height="400" alt="">
            <figcaption class="uk-overlay-panel uk-overlay-background uk-flex uk-flex-center uk-flex-middle uk-text-center">
                <div>
                    <h3>Title</h3>
                    <p>Lorem <a href="#">ipsum dolor</a> sit amet, consetetur sadipscing elitr.</p>
                    <button class="uk-button uk-button-primary">Button</button>
                </div>
            </figcaption>
        </figure>
        <p class="uk-text-center">Background, Center</p>
    </div>
</div>
