<h2>Image Animations</h2>
<div class="uk-grid" data-uk-grid-margin>
    <div class="uk-width-medium-1-4">
        <figure class="uk-overlay uk-overlay-hover"><img class="uk-overlay-scale" src=" /images/demo.jpg" width="600" height="400" alt="">
            <figcaption class="uk-overlay-panel uk-overlay-icon uk-overlay-background uk-overlay-fade"></figcaption>
            <a class="uk-position-cover" href="#"></a>
        </figure>
        <p class="uk-text-center">Scale</p>
    </div>
    <div class="uk-width-medium-1-4">
        <figure class="uk-overlay uk-overlay-hover"><img class="uk-overlay-fade" src=" /images/demo.jpg" width="600" height="400" alt="">
            <figcaption class="uk-overlay-panel uk-ignore uk-flex uk-flex-center uk-flex-middle uk-text-center">
                <div>
                    <h3 class="uk-margin-remove">Title</h3></div>
            </figcaption>
            <a class="uk-position-cover" href="#"></a>
        </figure>
        <p class="uk-text-center">Fade</p>
    </div>
    <div class="uk-width-medium-1-4">
        <figure class="uk-overlay uk-overlay-hover uk-border-circle"><img class="uk-overlay-spin" src=" /images/demo.jpg" width="600" height="400" alt="">
            <figcaption class="uk-overlay-panel uk-overlay-background uk-overlay-bottom uk-overlay-slide-bottom">
                <h3 class="uk-text-center">Title</h3></figcaption>
            <a class="uk-position-cover" href="#"></a>
        </figure>
        <p class="uk-text-center">Spin</p>
    </div>
    <div class="uk-width-medium-1-4">
        <figure class="uk-overlay uk-overlay-hover"><img class="uk-overlay-grayscale" src=" /images/demo.jpg" width="600" height="400" alt="">
            <div class="uk-overlay-panel uk-overlay-icon uk-overlay-background uk-overlay-fade"></div>
            <figcaption class="uk-overlay-panel uk-overlay-background uk-overlay-bottom uk-overlay-slide-bottom">
                <p>Lorem ipsum dolor sit amet.</p>
            </figcaption>
            <a class="uk-position-cover" href="#"></a>
        </figure>
        <p class="uk-text-center">Grayscale</p>
    </div>
</div>
