<h2>Icon</h2>
<div class="uk-grid" data-uk-grid-margin>
    <div class="uk-width-medium-1-4">
        <figure class="uk-overlay"><img src=" /images/demo.jpg" width="600" height="400" alt="">
            <figcaption class="uk-overlay-icon"></figcaption>
        </figure>
        <p class="uk-text-center">Default</p>
    </div>
    <div class="uk-width-medium-1-4">
        <figure class="uk-overlay uk-overlay-hover"><img src=" /images/demo.jpg" width="600" height="400" alt="">
            <figcaption class="uk-overlay-panel uk-overlay-icon uk-overlay-background uk-overlay-fade"></figcaption>
            <a class="uk-position-cover" href="#"></a>
        </figure>
        <p class="uk-text-center">On hover, Background, Fade, Anchor</p>
    </div>
    <div class="uk-width-medium-1-4">
        <figure class="uk-overlay uk-overlay-hover"><img src=" /images/demo.jpg" width="600" height="400" alt="">
            <figcaption class="uk-overlay-panel uk-overlay-icon uk-overlay-background uk-overlay-slide-left"></figcaption>
            <a class="uk-position-cover" href="#"></a>
        </figure>
        <p class="uk-text-center">On hover, Background, Slide, Anchor</p>
    </div>
    <div class="uk-width-medium-1-4">
        <figure class="uk-overlay uk-overlay-hover"><img src=" /images/demo.jpg" width="600" height="400" alt="">
            <div class="uk-overlay-panel uk-overlay-icon uk-overlay-background uk-overlay-fade"></div>
            <figcaption class="uk-overlay-panel uk-overlay-background uk-overlay-bottom uk-overlay-slide-bottom">
                <p>Lorem ipsum dolor sit amet.</p>
            </figcaption>
            <a class="uk-position-cover" href="#"></a>
        </figure>
        <p class="uk-text-center">2 Overlays, Anchor</p>
    </div>
</div>
