<h3>Image, anchor, text, caption</h3>
<div class="uk-margin">
    <div class="uk-overlay"><img src=" /images/demo.jpg" alt="">
        <div class="uk-overlay-area">
            <div class="uk-overlay-area-content">Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</div>
        </div>
    </div>
    <a class="uk-overlay" href="#"><img src=" /images/demo.jpg" alt="">
        <div class="uk-overlay-area">
            <div class="uk-overlay-area-content">Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</div>
        </div>
    </a>
    <div class="uk-overlay uk-width-medium-1-4">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
        <div class="uk-overlay-area">
            <div class="uk-overlay-area-content">Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</div>
        </div>
    </div>
</div>
