<h2>Positions</h2>
<div class="uk-grid" data-uk-grid-margin>
    <div class="uk-width-medium-1-4">
        <figure class="uk-overlay uk-overlay-hover"><img src=" /images/demo.jpg" width="600" height="400" alt="">
            <figcaption class="uk-overlay-panel uk-overlay-top uk-overlay-slide-top">
                <h3>Title</h3>
                <p>Lorem ipsum dolor sit amet.</p>
            </figcaption>
        </figure>
        <p class="uk-text-center">Top</p>
    </div>
    <div class="uk-width-medium-1-4">
        <figure class="uk-overlay uk-overlay-hover"><img src=" /images/demo.jpg" width="600" height="400" alt="">
            <figcaption class="uk-overlay-panel uk-overlay-background uk-overlay-bottom uk-overlay-slide-bottom">
                <h3>Title</h3>
                <p>Lorem ipsum dolor sit amet.</p>
            </figcaption>
        </figure>
        <p class="uk-text-center">Bottom, Background</p>
    </div>
    <div class="uk-width-medium-1-4">
        <figure class="uk-overlay uk-overlay-hover"><img src=" /images/demo.jpg" width="600" height="400" alt="">
            <figcaption class="uk-overlay-panel uk-overlay-background uk-overlay-left uk-overlay-slide-left uk-width-1-2">
                <h3>Title</h3>
                <p>Lorem ipsum dolor sit amet.</p>
            </figcaption>
            <a class="uk-position-cover" href="#"></a>
        </figure>
        <p class="uk-text-center">Left, Background, Anchor</p>
    </div>
    <div class="uk-width-medium-1-4">
        <figure class="uk-overlay uk-overlay-hover"><img src=" /images/demo.jpg" width="600" height="400" alt="">
            <figcaption class="uk-overlay-panel uk-overlay-background uk-overlay-right uk-overlay-slide-right uk-width-1-2">
                <h3>Title</h3>
                <p>Lorem ipsum dolor sit amet.</p>
                <a class="uk-position-cover" href="#"></a>
            </figcaption>
        </figure>
        <p class="uk-text-center">Right, Background, Anchor only in panel</p>
    </div>
</div>
