<h3>Thumbnail</h3>
<div class="uk-grid" data-uk-grid-margin>
    <div class="uk-width-medium-1-3">
        <div class="uk-thumbnail uk-overlay-toggle">
            <div class="uk-overlay"><img src="holder.js/400x250/auto" alt="">
                <div class="uk-overlay-area">
                    <div class="uk-overlay-area-content">
                        <p>Lorem <a href="#">ipsum dolor</a> sit amet, consetetur sadipscing elitr.</p>
                        <button class="uk-button uk-button-primary">Button</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="uk-width-medium-1-3">
        <div class="uk-thumbnail uk-overlay-toggle">
            <div class="uk-overlay"><img src="holder.js/400x250/auto" alt="">
                <div class="uk-overlay-area">
                    <div class="uk-overlay-area-content">
                        <p>Lorem <a href="#">ipsum dolor</a> sit amet, consetetur sadipscing elitr.</p>
                        <button class="uk-button uk-button-primary">Button</button>
                    </div>
                </div>
            </div>
            <div class="uk-thumbnail-caption">Caption</div>
        </div>
    </div>
    <div class="uk-width-medium-1-3">
        <figure class="uk-thumbnail">
            <div class="uk-overlay"><img src="holder.js/400x250/auto" alt="">
                <div class="uk-overlay-area">
                    <div class="uk-overlay-area-content">
                        <p>Lorem <a href="#">ipsum dolor</a> sit amet, consetetur sadipscing elitr.</p>
                        <button class="uk-button uk-button-primary">Button</button>
                    </div>
                </div>
            </div>
            <figcaption class="uk-thumbnail-caption">Caption <code>&lt;figure&gt;</code></figcaption>
        </figure>
    </div>
</div>
