<a class="bh-logo uk-visible-large" href="/">
    <div class="uk-navbar-brand"><span class="uk-text-primary">Node </span> Store</div>
</a>
<a class="bh-logo-small uk-hidden-large" href="/">
    <div class="uk-navbar-brand"><span class="uk-text-primary">Node </span> Store</div>
</a>
