<nav class="uk-navbar uk-text-center">
    <div class="bh-navbar-nav-wrapper uk-visible-large">
        <ul class="uk-navbar-nav">
            <li class="uk-parent"><a href="/" class="uk-active">Home</a></li>
            <li class="uk-parent" data-uk-dropdown><a href="#">Pages</a>
                <div class="uk-dropdown uk-dropdown-navbar">
                    <ul class="uk-nav uk-nav-navbar">
                        <li><a href="/about">About Us</a></li>
                        <li><a href="/team">Team</a></li>
                        <li><a href="/service">Service</a></li>
                        <li><a href="/portfolio">Portfolio</a></li>
                        <li><a href="/contact">Contact</a></li>
                        <li><a href="/faq">FAQ</a></li>
                        <li><a href="/error">Error</a></li>
                    </ul>
                </div>
            </li>
            <li class="uk-parent" data-uk-dropdown><a href="shop">Shop</a>
                <div class="uk-dropdown uk-dropdown-navbar uk-dropdown-width-3">
                    <div class="uk-grid uk-dropdown-grid">
                        <div class="uk-width-medium-1-3">
                            <ul class="uk-nav uk-nav-navbar">
                                <li class="uk-nav-header">Layouts</li>
                                <li><a href="/singleproduct">Single Product</a></li>
                                <li><a href="/cart">Cart</a></li>
                                <li><a href="/checkout">Checkout</a></li>
                                <li><a href="/wishlist">Wishlist</a></li>
                            </ul>
                        </div>
                        <div class="uk-width-medium-2-3">
                            <div class="uk-panel">
                                <div class="uk-panel-badge uk-badge uk-badge-danger">Only now - $00</div>
                                <a href="/singleproduct"><img src=" /images/demo.jpg" width="400" height="300" alt="Product Image"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="uk-parent" data-uk-dropdown><a href="#">Features</a>
                <div class="uk-dropdown uk-dropdown-navbar">
                    <ul class="uk-nav uk-nav-navbar">
                        <li><a href="/columns">Columns</a></li>
                        <li><a href="/positions">Positions</a></li>
                        <li><a href="/uikit-elements">UIkit Elements</a></li>
                        <li><a href="/theme-elements">Theme Elements</a></li>
                        <li><a href="/typography">Typhography</a></li>
                        <li><a href="/icons">Icons</a></li>
                    </ul>
                </div>
            </li>
            <li class="uk-parent" data-uk-dropdown><a href="/blog">Blog</a>
                <div class="uk-dropdown uk-dropdown-navbar">
                    <ul class="uk-nav uk-nav-navbar">
                        <li><a href="/singlepost">Single Post</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
    <a href="#offcanvas" class="uk-navbar-toggle uk-hidden-large" data-uk-offcanvas></a>
</nav>
