<div class="bh-search-bar uk-hidden">
    <form class="uk-search" data-uk-search>
        <input class="uk-search-field" type="search" placeholder="Search...">
    </form>
    <a href="#" class="uk-close" data-uk-toggle="{target:'.bh-search-bar'}"></a>
</div>
