<div class="bh-toolbar-left uk-visible-large"><a class="bh-search-toggle" href="#" data-uk-toggle="{target:'.bh-search-bar', animation: 'uk-animation-slide-top'}"><i class="uk-icon-search"></i></a></div>
<div class="bh-toolbar-right">
    <div class="uk-panel">
        <ul class="uk-subnav uk-subnav-line">
            <li><a href="#offcanvas-cart" data-uk-offcanvas><i class="uk-icon-shopping-cart uk-margin-small-right uk-hidden-small"></i> $209.80 <span class="uk-badge uk-badge-danger uk-badge-notification uk-margin-small-left">2</span></a></li>
            <li class="uk-hidden-small"><a href="/wishlist"><i class="uk-icon-heart"></i></a></li>
            <li class="uk-hidden-small"><a href="#login" data-uk-modal><i class="uk-icon-user"></i></a></li>
            <li class="uk-hidden-small"><a href="#"><i class="uk-icon-power-off"></i></a></li>
        </ul>
    </div>
</div>
