<div class="uk-width-medium-1-2">
    <h2 class="bh-headline-bottom-border"><span>Billing Address</span></h2>
    <form class="uk-form uk-form-stacked">
        <div class="uk-grid" data-uk-margin="{cls:'uk-margin-small-top'}">
            <div class="uk-width-1-1">
                <label class="uk-form-label" for="shop-checkout-billing-country">Country</label>
                <select class="uk-form-large uk-width-1-1" id="shop-checkout-billing-country">
                    <option>Australia (AU)</option>
                    <option>United Stated (US)</option>
                </select>
            </div>
            <div class="uk-width-1-2">
                <label class="uk-form-label" for="shop-checkout-billing-firstname">First Name</label>
                <input type="text" class="uk-form-large uk-width-1-1" id="shop-checkout-billing-firstname">
            </div>
            <div class="uk-width-1-2">
                <label class="uk-form-label" for="shop-checkout-billing-lastname">Last Name</label>
                <input type="text" class="uk-form-large uk-width-1-1" id="shop-checkout-billing-lastname">
            </div>
            <div class="uk-width-1-1">
                <label class="uk-form-label" for="shop-checkout-billing-company">Company Name</label>
                <input type="text" class="uk-form-large uk-width-1-1" id="shop-checkout-billing-company">
            </div>
            <div class="uk-width-1-1">
                <label class="uk-form-label" for="shop-checkout-billing-address">Address</label>
                <input type="text" class="uk-form-large uk-width-1-1" id="shop-checkout-billing-address">
            </div>
            <div class="uk-width-1-2">
                <label class="uk-form-label" for="shop-checkout-billing-city">City</label>
                <input type="text" class="uk-form-large uk-width-1-1" id="shop-checkout-billing-city">
            </div>
            <div class="uk-width-1-2">
                <label class="uk-form-label" for="shop-checkout-billing-zip">Zip Code</label>
                <input type="text" class="uk-form-large uk-width-1-1" id="shop-checkout-billing-zip">
            </div>
            <div class="uk-width-1-1">
                <label class="uk-form-label" for="shop-checkout-billing-email">Email Address</label>
                <input type="text" class="uk-form-large uk-width-1-1" id="shop-checkout-billing-email">
            </div>
            <div class="uk-width-1-1">
                <label class="uk-form-label" for="shop-checkout-billing-phone">Phone Number</label>
                <input type="text" class="uk-form-large uk-width-1-1" id="shop-checkout-billing-phone">
            </div>
        </div>
    </form>
</div>
