<div class="uk-width-1-1">
    <div class="uk-alert uk-margin-bottom-remove"><i class="uk-icon-info-circle uk-margin-right"></i>Have a Coupon?
        <br class="uk-visible-small"><a href="#" data-uk-toggle="{target:'#checkout-coupon', animation: 'uk-animation-fade'}">Click here to enter your code</a></div>
    <div class="uk-panel uk-panel-box uk-hidden uk-margin-top" id="checkout-coupon">
        <form class="uk-form">
            <input class="uk-width-1-2" type="text" placeholder="Enter your coupon number...">
            <button class="uk-button">Apply Coupon</button>
        </form>
    </div>
</div>
