<div class="uk-width-1-1">
    <div class="uk-alert uk-margin-bottom-remove"><i class="uk-icon-info-circle uk-margin-right"></i>Returning customer?
        <br class="uk-visible-small"><a href="#" data-uk-toggle="{target:'#checkout-login', animation: 'uk-animation-fade'}">Click here to login</a></div>
    <div class="uk-panel uk-panel-box uk-hidden uk-margin-top" id="checkout-login">
        <p>Qui animated corpse, cricket bat max brucks terribilem incessu zomby. The voodoo sacerdos flesh eater, suscitat mortuos comedere carnem virus. Zonbi tattered for solum oculi.</p>
        <form class="uk-form">
            <div class="uk-grid" data-uk-margin>
                <div class="uk-width-medium-1-2">
                    <label class="uk-form-label" for="form-checkout-name">Username</label>
                    <input type="text" placeholder="Enter your username..." class="uk-form-large uk-width-1-1" id="form-checkout-name"> </div>
                <div class="uk-width-medium-1-2">
                    <label class="uk-form-label" for="form-checkout-password">Password</label>
                    <input type="text" placeholder="******" class="uk-form-large uk-width-1-1" id="form-checkout-password"> </div>
                <div class="uk-width-1-1 uk-margin-top">
                    <button class="uk-button">Login</button>
                    <label class="uk-margin-left">
                        <input type="checkbox"> Remember me</label><a class="uk-margin-left" href="#">Lost Password?</a></div>
            </div>
        </form>
    </div>
</div>
