<div class="uk-width-medium-1-2">
    <h2 class="bh-headline-bottom-border"><span>Shipping Address</span></h2>
    <form class="uk-form uk-form-stacked">
        <div class="uk-grid" data-uk-margin="{cls:'uk-margin-small-top'}">
            <div class="uk-width-1-1">
                <label class="uk-form-label" for="shop-checkout-shipping-country">Country</label>
                <select class="uk-form-large uk-width-1-1" id="shop-checkout-shipping-country">
                    <option>Australia (AU)</option>
                    <option>United Stated (US)</option>
                </select>
            </div>
            <div class="uk-width-1-2">
                <label class="uk-form-label" for="shop-checkout-shipping-firstname">First Name</label>
                <input type="text" class="uk-form-large uk-width-1-1" id="shop-checkout-shipping-firstname">
            </div>
            <div class="uk-width-1-2">
                <label class="uk-form-label" for="shop-checkout-shipping-lastname">Last Name</label>
                <input type="text" class="uk-form-large uk-width-1-1" id="shop-checkout-shipping-lastname">
            </div>
            <div class="uk-width-1-1">
                <label class="uk-form-label" for="shop-checkout-shipping-company">Company Name</label>
                <input type="text" class="uk-form-large uk-width-1-1" id="shop-checkout-shipping-company">
            </div>
            <div class="uk-width-1-1">
                <label class="uk-form-label" for="shop-checkout-shipping-address">Address</label>
                <input type="text" class="uk-form-large uk-width-1-1" id="shop-checkout-shipping-address">
            </div>
            <div class="uk-width-1-2">
                <label class="uk-form-label" for="shop-checkout-shipping-city">City</label>
                <input type="text" class="uk-form-large uk-width-1-1" id="shop-checkout-shipping-city">
            </div>
            <div class="uk-width-1-2">
                <label class="uk-form-label" for="shop-checkout-shipping-zip">Zip Code</label>
                <input type="text" class="uk-form-large uk-width-1-1" id="shop-checkout-shipping-zip">
            </div>
            <div class="uk-width-1-1">
                <label class="uk-form-label" for="shop-checkout-note">Order Note</label>
                <textarea rows="5" class="uk-form-large uk-width-1-1" placeholder="Notes about your order, Special Notes for Delivery" id="shop-checkout-note"></textarea>
            </div>
        </div>
    </form>
</div>
