<div class="bh-position bh-position-default">
    <div class="uk-container uk-container-center">
        <div class="uk-panel">
            <div class="uk-alert">
                <p><i class="uk-icon-info-circle"></i> To create easily different looking sections within the content Balzac comes with a bunch of position classes you can combine. Just take a look at the following examples.</p>
            </div>
        </div>
    </div>
</div>
<div class="bh-position bh-position-default">
    <div class="uk-container uk-container-center">
        <div class="uk-panel">
            <h2 class="bh-headline-left-border"><span>Default Position Markup</span></h2>
            <p>Use the default class <code>.bh-position</code> in each position to get the default padding.
                <br>Add <code>.bh-position-default</code> for the default background color if you are not using another background modifier.</p><pre><code>&lt;div class="bh-position bh-position-default"&gt;
    &lt;div class="uk-container uk-container-center"&gt;
        ...
    &lt;/div&gt;
&lt;/div&gt;
</code></pre></div>
    </div>
</div>
