<div class="bh-position bh-position-default bh-position-divider">
    <div class="uk-container uk-container-center">
        <div class="uk-panel">
            <h4>Position divider</h4>
            <p>Add the class <code>.bh-position-divider</code> to add a top border to the position.</p>
        </div>
    </div>
</div>
