<div class="bh-position bh-position-default bh-position-full">
    <div class="uk-container uk-container-center">
        <div class="uk-panel uk-panel-space">
            <h4>Position Full Width</h4>
            <p>Add the class <code>.bh-position-full</code> to reset the width of the child <code>uk-container</code>.</p>
        </div>
    </div>
</div>
