<div class="bh-position bh-position-primary bh-position-padding-remove">
    <div class="uk-container uk-container-center">
        <div class="uk-panel uk-panel-space">
            <h4>Position Remove Padding</h4>
            <p>Add the class <code>.bh-position-padding-remove</code> to remove the padding.</p>
        </div>
    </div>
</div>
