<div class="bh-position bh-position-primary">
    <div class="uk-container uk-container-center">
        <div class="uk-panel">
            <h4>Position Primary</h4>
            <p>Replace the default class <code>.bh-position-default</code> with <code>.bh-position-primary</code> to get the primary background position color.</p>
        </div>
    </div>
</div>
