<div class="bh-position-title">
    <div class="uk-container uk-container-center">
        <div class="uk-panel">
            <h1>Position Title</h1>
            <p>Just use the class <code>.bh-position-title</code>.</p>
        </div>
    </div>
</div>
