<!doctype html>
<html lang="en">
{% include 'includes/general/head.twig' %}
{% block css %}{% endblock %}
<body>
{% include 'includes/general/header.twig' %}
{% block body %}{% endblock %}
{% include 'includes/general/footer.twig' %}
{% include 'includes/general/offcanvas.twig' %}
{% include 'includes/general/js.twig' %}
{% block js %}{% endblock %}
</body>
</html>
