<div class="uk-float-left uk-margin-top">
    <h3 class="uk-margin-small-bottom uk-link-reset"><a href="/singleproduct">item</a></h3>
    <p class="uk-margin-remove"><a href="/shop">category</a> / <a href="/shop">description</a></p>
</div>
