<li>
    <div class="uk-panel">
        <div class="uk-panel-badge uk-badge">Out of stock</div>
        {% include 'includes/index/store-display-tab/item-img.twig' %}
        {% include 'includes/index/store-display-tab/item-tag.twig' %}
        <span class="uk-float-right uk-margin-top uk-text-large">$00.00</span>
    </div>
</li>
