<li>
    <div class="uk-panel">
        <div class="uk-panel-badge uk-badge uk-badge-danger">Sale</div>
        {% include 'includes/index/store-display-tab/item-img.twig' %}
        {% include 'includes/index/store-display-tab/item-tag.twig' %}
        <span class="uk-float-right uk-margin-top uk-text-large">
            <del>$00.00</del>
            <ins>$00.00</ins>
        </span>
    </div>
</li>
