<ul class="uk-tab uk-tab-grid" data-uk-tab="{connect:'#home-product-slider'}">
    <li class="uk-width-small-1-3 uk-active"><a href="#">Topseller</a></li>
    <li class="uk-width-small-1-3"><a href="#">Must have</a></li>
    <li class="uk-width-small-1-3"><a href="#">Best sale</a></li>
</ul>
