<li class="uk-active">
    <div class="uk-slidenav-position" data-uk-slider data-uk-check-display>
        <div class="uk-slider-container">
            <ul class="uk-slider uk-grid uk-grid-width-small-1-2 uk-grid-width-medium-1-3">
              {% include 'includes/index/store-display-tab/out.twig' %}
              {% include 'includes/index/store-display-tab/out.twig' %}
              {% include 'includes/index/store-display-tab/out.twig' %}
              {% include 'includes/index/store-display-tab/out.twig' %}
              {% include 'includes/index/store-display-tab/out.twig' %}
              {% include 'includes/index/store-display-tab/out.twig' %}
            </ul>
        </div>
        {% include 'includes/index/next-prev.twig' %}
    </div>
</li>
