<a href="/blog-singlepost"><img class="bh-article-image" src="/images/demo.jpg" width="1200" height="500" alt="Article Image"></a>
<div class="bh-article-date">Date</div>
<h1 class="uk-article-title">Lorem ipsum dolor sit amet</h1>
<p class="uk-article-lead">Qui animated corpse, cricket bat max brucks.</p>
<p class="bh-article-content">Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi consequat. Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. <a href="/blog-singlepost" class="bh-link-primary">Read more <i class="uk-icon-angle-right"></i></a></p>
