<div class="uk-width-medium-1-4">
{% include 'includes/blog/sidebar/categories.twig' %}
{% include 'includes/blog/sidebar/tag-cloud.twig' %}
{% include 'includes/blog/sidebar/recent-posts.twig' %}
{% include 'includes/blog/sidebar/recent-comments.twig' %}
{% include 'includes/blog/sidebar/archive.twig' %}
</div>
