<div class="uk-panel">
    <label>
        <input class="uk-margin-right" type="radio" name="shop-payment"> select</label>
    <br>
    <p>Qui animated corpse, cricket bat max brucks terribilem incessu zomby. The voodoo sacerdos flesh eater, suscitat mortuos comedere carnem virus. Zonbi tattered for solum oculi.</p>
</div>
