<div class="uk-grid">
    <div class="uk-width-medium-1-2 uk-push-1-2">
        <div class="uk-panel uk-panel-box"><span class="uk-float-left">Cart Subtotal</span> <span class="uk-float-right">$209.80</span>
            <br><span class="uk-float-left">Shipping</span> <span class="uk-float-right">Free Shipping</span>
            <br>
            <hr><span class="uk-float-left">Order Total Price</span> <span class="uk-float-right">$209.80</span></div>
    </div>
</div>
