<div class="bh-position bh-position-primary">
    <div class="uk-container uk-container-center">
        <div class="uk-panel uk-text-center">
            <h3>Have a question?</h3>
            <div class="uk-text-large">Message us for a quick reply <a href="/contact">Contact us!</a></div>
        </div>
    </div>
</div>
