<div class="uk-panel">
    <h3 class="uk-panel-title">Archive</h3>
    <ul class="uk-nav uk-nav-side">
        <li><a href="#">month year</a></li>
        <li><a href="#">month year</a></li>
        <li><a href="#">month year</a></li>
        <li><a href="#">month year</a></li>
        <li><a href="#">month year</a></li>
        <li><a href="#">month year</a></li>
    </ul>
</div>
