<div class="uk-panel">
    <h3 class="uk-panel-title">Categories</h3>
    <ul class="uk-nav uk-nav-side">
        {% include 'includes/blog/sidebar/category.twig' %}
        {% include 'includes/blog/sidebar/category.twig' %}
        {% include 'includes/blog/sidebar/category.twig' %}
        {% include 'includes/blog/sidebar/category.twig' %}
        {% include 'includes/blog/sidebar/category.twig' %}
        {% include 'includes/blog/sidebar/category.twig' %}
        {% include 'includes/blog/sidebar/category.twig' %}
    </ul>
</div>
