<li>
    <div class="uk-grid uk-grid-small" data-uk-grid-margin data-uk-grid-match>
        <div class="uk-width-1-4 uk-width-medium-1-1 uk-width-large-2-5">
            <a href="/blog-singlepost"><img class="uk-float-left uk-margin-right" src="/images/demo.jpg" width="400" height="300" alt="Article Image"></a>
        </div>
        <div class="uk-width-3-4 uk-width-medium-1-1 uk-width-large-3-5 uk-flex uk-flex-middle">
            <div class="uk-text-truncate"><span class="uk-text-muted">date year</span>
                <br><a href="#" class="uk-link-reset bh-text-uppercase">title</a></div>
        </div>
    </div>
</li>
