<div class="uk-panel">
    <h3 class="uk-panel-title">Recent Comments</h3>
    <ul class="bh-comment-widget uk-comment-list">
      {% include 'includes/blog/sidebar/comment.twig' %}
      {% include 'includes/blog/sidebar/comment.twig' %}
      {% include 'includes/blog/sidebar/comment.twig' %}
      {% include 'includes/blog/sidebar/comment.twig' %}
      {% include 'includes/blog/sidebar/comment.twig' %}
    </ul>
</div>
