<div class="uk-panel">
    <h3 class="uk-panel-title">Recent Posts</h3>
    <ul class="uk-list uk-list-space">
      {% include 'includes/blog/sidebar/post.twig' %}
      {% include 'includes/blog/sidebar/post.twig' %}
      {% include 'includes/blog/sidebar/post.twig' %}
      {% include 'includes/blog/sidebar/post.twig' %}
      {% include 'includes/blog/sidebar/post.twig' %}
      {% include 'includes/blog/sidebar/post.twig' %}
    </ul>
</div>
