<div class="uk-panel" data-uk-margin>
    <h3 class="uk-panel-title">Tags</h3>
    {% include 'includes/blog/sidebar/tag.twig' %}
    {% include 'includes/blog/sidebar/tag.twig' %}
    {% include 'includes/blog/sidebar/tag.twig' %}
    {% include 'includes/blog/sidebar/tag.twig' %}
    {% include 'includes/blog/sidebar/tag.twig' %}
    {% include 'includes/blog/sidebar/tag.twig' %}
    {% include 'includes/blog/sidebar/tag.twig' %}
    {% include 'includes/blog/sidebar/tag.twig' %}
    {% include 'includes/blog/sidebar/tag.twig' %}
    {% include 'includes/blog/sidebar/tag.twig' %}
    {% include 'includes/blog/sidebar/tag.twig' %}
    {% include 'includes/blog/sidebar/tag.twig' %}
    {% include 'includes/blog/sidebar/tag.twig' %}
    {% include 'includes/blog/sidebar/tag.twig' %}
    {% include 'includes/blog/sidebar/tag.twig' %}
</div>
