<div class="uk-width-small-1-2 uk-width-medium-1-3">
    <div class="uk-panel uk-panel-space uk-text-center-small">
        <p class="bh-text-uppercase">Company</p>
        <ul class="uk-list uk-panel-space">
            <li><a href="#">About Us</a></li>
            <li><a href="#">Store Locator</a></li>
            <li><a href="#">Work with Us</a></li>
            <li><a href="#">Franchise</a></li>
        </ul>
    </div>
</div>
