<div class="uk-width-small-1-2 uk-width-medium-1-3">
    <div class="uk-panel uk-panel-space uk-text-center-small">
        <p class="bh-text-uppercase">Payment</p>
        <ul class="uk-list uk-margin-remove">
            <li>
                <a href="#"><i class="uk-icon-cc-mastercard uk-text-large"></i></a>
                <a href="#"><i class="uk-icon-cc-visa uk-text-large"></i></a>
                <a href="#"><i class="uk-icon-cc-amex uk-text-large"></i></a>
                <a href="#"><i class="uk-icon-cc-paypal uk-text-large"></i></a>
            </li>
        </ul>
    </div>
</div>
