<div class="uk-width-small-1-2 uk-width-medium-1-3">
    <div class="uk-panel uk-panel-space uk-text-center-small">
        <p class="bh-text-uppercase">Follow Us</p>
        <ul class="uk-list">
            <li data-uk-margin>
                <a href="#" class="uk-icon-button uk-icon-twitter"></a>
                <a href="#" class="uk-icon-button uk-icon-facebook"></a>
                <a href="#" class="uk-icon-button uk-icon-google-plus"></a>
            </li>
        </ul>
    </div>
</div>
