<div data-uk-filter="bay">
    <figure class="uk-overlay uk-overlay-hover"><img class="uk-overlay-spin" src=" /images/demo.jpg" width="1000" height="600" alt="">
        <figcaption class="uk-overlay-panel uk-overlay-icon uk-overlay-background uk-overlay-fade"></figcaption>
        <a class="uk-position-cover" href="/images/1.jpg" data-uk-lightbox></a>
    </figure>
</div>
