<div class="bh-position bh-position-primary">
    <div class="uk-container uk-container-center uk-text-center">
        <ul id="pages-portfolio" class="uk-subnav uk-subnav-line uk-display-inline-block uk-margin-bottom-remove" data-uk-switcher>
            <li class="uk-active"><a data-uk-filter=""><strong>All</strong></a></li>
            <li><a data-uk-filter="landscape">Landscape</a></li>
            <li><a data-uk-filter="urban">Urban</a></li>
            <li><a data-uk-filter="bay">Bay View</a></li>
        </ul>
    </div>
</div>
