<h2 class="bh-headline-bottom-border uk-margin-large-top" id="theme-elements-typography"><span>Dropcap & Article Column</span></h2>
<p>To split the text into two columns or to use a dropcap at the beginning of the text, just use the markup example below.</p>
<h3 class="uk-h4 bh-headline-left-border">Example</h3>
<p class="bh-article-columns uk-text-justify"><span class="bh-dropcap">B</span>ombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De carne lumbering animata corpora quaeritis. Summus brains sit​​, morbo vel maleficia? De apocalypsi gorger omero undead survivor dictum mauris. Hi mindless mortuis soulless creaturas, imo evil stalking monstra adventus resi dentevil vultus comedat cerebella viventium.</p>
<h3 class="uk-h4 bh-headline-left-border">Markup</h3><pre><code>&lt;p class="bh-article-columns"&gt;&lt;span class="bh-dropcap"&gt;B&lt;/span&gt;...&lt;/p&gt;</code></pre>
<h2 class="bh-headline-bottom-border uk-margin-large-top"><span>Headline Border</span></h2>
<p>You can choose between two additional headline styles. Just use the class <code>bh-headline-left-border</code> or <code>bh-headline-bottom-border</code> in the headline element.</p>
<h3 class="uk-h4 bh-headline-left-border">Example</h3>
<div class="uk-grid">
    <div class="uk-width-small-1-2">
        <h1 class="bh-headline-left-border">Headline H1</h1>
        <h2 class="bh-headline-left-border">Headline H2</h2>
        <h3 class="bh-headline-left-border">Headline H3</h3>
        <h4 class="bh-headline-left-border">Headline H4</h4>
        <h5 class="bh-headline-left-border">Headline H5</h5>
        <h6 class="bh-headline-left-border">Headline H6</h6></div>
    <div class="uk-width-small-1-2">
        <h1 class="bh-headline-bottom-border"><span>Headline H1</span></h1>
        <h2 class="bh-headline-bottom-border"><span>Headline H2</span></h2>
        <h3 class="bh-headline-bottom-border"><span>Headline H3</span></h3>
        <h4 class="bh-headline-bottom-border"><span>Headline H4</span></h4>
        <h5 class="bh-headline-bottom-border"><span>Headline H5</span></h5>
        <h6 class="bh-headline-bottom-border"><span>Headline H6</span></h6></div>
</div>
<h3 class="uk-h4 bh-headline-left-border">Markup</h3><pre><code>&lt;h1 class="bh-headline-left-border"&gt;...&lt;/h1&gt;
&lt;h1 class="bh-headline-bottom-border"&gt;&lt;span&gt;...&lt;/span&gt;&lt;/h1&gt;
</code></pre>
