<div class="uk-grid" data-uk-grid-margin>
    <div class="uk-width-1-1">
        <h2 class="bh-headline-bottom-border" id="theme-elements-button-secondary"><span>Button Secondary</span></h2>
        <p>The secondary button is based on the default button. Use the modifier <code>.bh-button-secondary</code> for the default version or <code>.bh-button-secondary-contrast</code> for the contrast colour version.</p>
    </div>
    <div class="uk-width-small-1-2">
        <h3 class="uk-h4 bh-headline-left-border">Example - Default</h3>
        <div class="uk-overlay"><img src="/images/demo.jpg" width="600" height="400" alt="Placeholder" data-demo-style>
            <div class="uk-overlay-panel uk-flex uk-flex-center uk-flex-middle uk-text-center">
                <div><a class="uk-button bh-button-secondary" href="#">Link</a>
                    <button class="uk-button bh-button-secondary uk-margin-small-left">Button</button>
                </div>
            </div>
        </div>
    </div>
    <div class="uk-width-small-1-2">
        <h3 class="uk-h4 bh-headline-left-border">Example - Contrast</h3>
        <div class="uk-overlay"><img src="/images/demo.jpg" width="600" height="400" alt="Placeholder" data-demo-style>
            <div class="uk-overlay-panel uk-flex uk-flex-center uk-flex-middle uk-text-center">
                <div><a class="uk-button bh-button-secondary bh-button-secondary-contrast" href="#">Link</a>
                    <button class="uk-button bh-button-secondary bh-button-secondary-contrast uk-margin-small-left">Button</button>
                </div>
            </div>
        </div>
    </div>
</div>
