<h3 class="uk-h4 bh-headline-left-border">Markup</h3><pre><code>&lt;a href="#" class="uk-button bh-button-secondary"&gt;...&lt;/a&gt;
&lt;button class="uk-button bh-button-secondary"&gt;...&lt;/button&gt;

&lt;a href="#" class="uk-button bh-button-secondary bh-button-secondary-contrast"&gt;...&lt;/a&gt;
&lt;button class="uk-button bh-button-secondary bh-button-secondary-contrast"&gt;...&lt;/button&gt;</code></pre>
