<h2 class="bh-headline-bottom-border uk-margin-large-top" id="theme-elements-counter"><span>Counter</span></h2>
<p>To implement the automatic counter use <code>data-count-up</code> attribute like in the example below.</p>
<h3 class="uk-h4 bh-headline-left-border">Example</h3>
<h1 class="uk-text-primary" data-count-up="{end:100}"></h1><pre>&lt;h1 data-count-up="{end:100}"&gt;&lt;/h1&gt;</pre>
