<h2 class="bh-headline-bottom-border uk-margin-large-top" id="theme-elements-icon-large"><span>Icon large</span></h2>
<h3 class="uk-h4 bh-headline-left-border">Example</h3>
<div class="uk-grid uk-margin-top" data-uk-grid-margin data-uk-grid-match="{target:'> div > .uk-panel'}">
    <div class="uk-width-medium-1-3">
        <div class="uk-panel uk-panel-box uk-text-center"><i class="bh-icon-large uk-icon-rocket"></i>
            <h3>Lorem ipsum</h3>
            <p>Zombie ipsum reversus ab viral inferno, nam rick.</p>
        </div>
    </div>
    <div class="uk-width-medium-1-3">
        <div class="uk-panel uk-panel-box uk-text-center"><i class="bh-icon-large uk-icon-heart"></i>
            <h3>Lorem ipsum</h3>
            <p>Zombie ipsum reversus ab viral inferno, nam rick.</p>
        </div>
    </div>
    <div class="uk-width-medium-1-3">
        <div class="uk-panel uk-panel-box uk-text-center"><i class="bh-icon-large uk-icon-comments"></i>
            <h3>Lorem ipsum</h3>
            <p>Zombie ipsum reversus ab viral inferno, nam rick.</p>
        </div>
    </div>
</div>
