<h2 class="bh-headline-bottom-border uk-margin-large-top" id="theme-elements-image-overlay"><span>Image Overlay</span></h2>
<p>You can change the image by hovering the overlay by giving the overlay the class <code>bh-overlay-image</code> and the hovering image <code>bh-overlay-image-hover</code>. You can still use all default overlay combinations.</p>
<h3 class="uk-h4 bh-headline-left-border">Example</h3>
<div class="uk-grid" data-uk-grid-margin>
    <div class="uk-width-small-1-2">
        <figure class="uk-overlay uk-overlay-hover bh-overlay-image"><img src="/images/demo.jpg" width="400" height="200" alt="Placeholder"> <img class="bh-overlay-image-hover" src="/images/demo.jpg" width="400" height="200" alt="Placeholder">
            <figcaption class="uk-overlay-panel uk-overlay-bottom uk-overlay-slide-bottom bh-padding-remove">
                <div class="uk-button-group uk-width-1-1">
                    <button class="uk-button uk-button-primary uk-button-large uk-width-8-10">Button</button>
                    <button class="uk-button uk-button-primary uk-button-large uk-width-2-10"><i class="uk-icon-star"></i></button>
                </div>
            </figcaption>
        </figure>
    </div>
    <div class="uk-width-small-1-2">
        <figure class="uk-overlay uk-overlay-hover"><img src="/images/demo.jpg" width="400" height="200" alt="Placeholder"> <img class="bh-overlay-image-hover" src="/images/demo.jpg" width="400" height="200" alt="Placeholder">
            <figcaption class="uk-overlay-panel uk-overlay-bottom uk-overlay-slide-bottom bh-padding-remove"><a href="#" class="uk-button uk-button-primary uk-button-large uk-width-1-1">Button</a></figcaption>
        </figure>
    </div>
</div>
<h3 class="uk-h4 bh-headline-left-border">Markup</h3><pre><code>&lt;figure class="uk-overlay uk-overlay-hover"&gt;
    &lt;img src="" alt=""&gt;
    &lt;img class="bh-overlay-image-hover" src="" alt=""&gt;
    &lt;figcaption class="uk-overlay-panel"&gt;...&lt;/figcaption&gt;
&lt;/figure&gt;</code></pre>
