<h2 class="bh-headline-bottom-border uk-margin-large-top" id="theme-elements-pricing"><span>Pricing Table</span></h2>
<p>Just use the advantage of the fully responsive grid component to create your own pricing table.</p>
<h3 class="uk-h4 bh-headline-left-border">Example</h3>
<div class="uk-grid uk-grid-small" data-uk-grid-margin data-uk-grid-match>
    <div class="uk-width-medium-1-3">
        <div class="bh-pricing">
            <div class="bh-pricing-content">
                <div class="bh-pricing-name">
                    <h3>Basic</h3></div>
                <div class="bh-pricing-price">$29</div>
                <ul class="uk-list uk-list-space">
                    <li><i class="uk-icon uk-icon-check"></i> Lorem ipsum</li>
                    <li><i class="uk-icon uk-icon-check"></i> Eiusmod tempor</li>
                    <li><i class="uk-icon uk-icon-check"></i> Dolor sit amet</li>
                </ul><a class="uk-button uk-margin-top" href="#">Buy now</a></div>
        </div>
    </div>
    <div class="uk-width-medium-1-3">
        <div class="bh-pricing bh-pricing-highlight">
            <div class="bh-pricing-badge">Special Offer</div>
            <div class="bh-pricing-content">
                <h3>Standard</h3>
                <div class="bh-pricing-price">$49</div>
                <ul class="uk-list uk-list-space">
                    <li><i class="uk-icon uk-icon-check"></i> Lorem ipsum</li>
                    <li><i class="uk-icon uk-icon-check"></i> Eiusmod tempor</li>
                    <li><i class="uk-icon uk-icon-check"></i> Dolor sit amet</li>
                </ul><a class="uk-button uk-button-primary uk-margin-top" href="#">Buy now</a></div>
        </div>
    </div>
    <div class="uk-width-medium-1-3">
        <div class="bh-pricing">
            <div class="bh-pricing-content">
                <div class="bh-pricing-name">
                    <h3>Premium</h3></div>
                <div class="bh-pricing-price">$79</div>
                <ul class="uk-list uk-list-space">
                    <li><i class="uk-icon uk-icon-check"></i> Lorem ipsum</li>
                    <li><i class="uk-icon uk-icon-check"></i> Eiusmod tempor</li>
                    <li><i class="uk-icon uk-icon-check"></i> Dolor sit amet</li>
                </ul><a class="uk-button uk-margin-top" href="#">Buy now</a></div>
        </div>
    </div>
</div>
<h3 class="uk-h4 bh-headline-left-border">Markup</h3><pre><code>&lt;div class="uk-grid"&gt;
    ...
    &lt;div class="uk-width-1-3"&gt;
        &lt;div class="bh-pricing bh-pricing-highlight"&gt;
            &lt;div class="bh-pricing-badge"&gt;...&lt;/div&gt;
            &lt;div class="bh-pricing-content"&gt;
                &lt;h3&gt;...&lt;/h3&gt;
                &lt;div class="bh-pricing-price"&gt;...&lt;/div&gt;
                ...
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    ...
&lt;/div&gt;</code></pre>
