<div class="uk-width-medium-1-5 uk-hidden-small">
    <div class="uk-panel" data-uk-sticky="{top:80, boundary: true}">
        <ul class="uk-nav uk-nav-side" data-uk-scrollspy-nav="{closest:'li', smoothscroll:true, topoffset:80}">
            <li><a href="#theme-elements-button-secondary">Button Secondary</a></li>
            <li><a href="#theme-elements-tags">Tags</a></li>
            <li><a href="#theme-elements-icon-large">Icon Large</a></li>
            <li><a href="#theme-elements-counter">Counter</a></li>
            <li><a href="#theme-elements-pricing">Pricing Table</a></li>
            <li><a href="#theme-elements-image-overlay">Image Overlay</a></li>
            <li><a href="#theme-elements-typography">Typography</a></li>
        </ul>
    </div>
</div>
