<div class="uk-width-medium-1-2">
    <div class="uk-panel uk-panel-space">
        <h2>Some Facts</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id turpis quis mauris malesuada iaculis et vel massa.</p>
    </div>
</div>
