<div class="uk-grid uk-margin-top" data-uk-grid-margin data-uk-grid-match="{target:'> div > .uk-panel'}">
{% include 'includes/about/img-grid-panel.twig' %}
{% include 'includes/about/img-grid-panel.twig' %}    
{% include 'includes/about/img-grid-panel.twig' %}
</div>
