<div class="uk-width-medium-1-3">
    <div class="uk-panel uk-panel-box uk-text-center"><i class="bh-icon-large uk-icon-code"></i>
        <h3>rick grimes malum</h3>
        <p>Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro.</p><a class="uk-button bh-button-secondary" href="#">Team Page</a></div>
</div>
