<div class="uk-width-medium-1-2">
    <div class="uk-panel uk-panel-space">
        <div class="uk-progress">
            <div class="uk-progress-bar bh-width-50">50%</div>
        </div>
        <div class="uk-progress">
            <div class="uk-progress-bar bh-width-20">20%</div>
        </div>
        <div class="uk-progress">
            <div class="uk-progress-bar bh-width-80">80%</div>
        </div>
    </div>
</div>
