<div class="uk-article-meta">
    <ul class="uk-display-inline-block">
        <li><span class="uk-hidden-small">By</span> <a href="#">name</a></li>
        <li><a href="/blog-singlepost#blog-single-comments">6 Comments</a></li>
        <li class="uk-hidden-small">Categories: <a href="/blog-singlepost">category</a>, <a href="/blog-singlepost">category</a></li>
        <li class="uk-visible-small"><a href=""><i class="uk-icon-twitter"></i></a> <a class="uk-margin-left" href=""><i class="uk-icon-facebook"></i></a> <a class="uk-margin-left" href=""><i class="uk-icon-pinterest"></i></a></li>
    </ul>
    <ul class="uk-display-inline-block uk-align-right uk-hidden-small">
        <li><a href=""><i class="uk-icon-twitter"></i></a> <a class="uk-margin-left" href=""><i class="uk-icon-facebook"></i></a> <a class="uk-margin-left" href=""><i class="uk-icon-pinterest"></i></a></li>
    </ul>
</div>
