<ul>
    <li>
        <div class="uk-comment uk-comment-primary">
            <header class="uk-comment-header">
                <img class="uk-comment-avatar" src="/images/demo.jpg" width="50" height="50" alt="User Image">
                <h4 class="uk-comment-title">name</h4>
                <div class="uk-comment-meta">time | <a href="#">Profile</a></div>
            </header>
            <div class="uk-comment-body">Quisque at justo in magna sollicitudin laoreet et quis augue. Sed gravida est dolor, eu mattis odio facilisis at. Donec porta id libero non semper. Nunc sed lobortis nibh. Pellentesque pellentesque consequat libero. Etiam ut mi a mauris cursus tempor sit amet eu est. </div>
        </div>
    </li>
</ul>
