<img class="bh-article-image" src=" /images/demo.jpg" width="1200" height="500" alt="Article Image">
<div class="bh-article-date">Date</div>
<p>Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi consequat. Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<h2>Lorem ipsum dolor</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec viverra sapien sed aliquam ullamcorper. Fusce magna dolor, aliquam nec quam vel, lacinia rhoncus odio. Nulla facilisi. Donec laoreet diam eget nisi cursus laoreet. Suspendisse et commodo metus. Donec porttitor ut velit sit amet aliquam. Etiam diam enim, auctor eu ante quis, tincidunt fermentum nisi. Pellentesque scelerisque accumsan tortor.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec viverra sapien sed aliquam ullamcorper. Fusce magna dolor, aliquam nec quam vel, lacinia rhoncus odio. Nulla facilisi. Donec laoreet diam eget nisi cursus laoreet. Suspendisse et commodo metus. Donec porttitor ut velit sit amet aliquam. Etiam diam enim, auctor eu ante quis, tincidunt fermentum nisi. Pellentesque scelerisque accumsan tortor.
</p>
