<div class="uk-panel uk-panel-box uk-margin-top">
    <img src=" /images/demo.jpg" width="100" height="100" class="uk-align-left uk-margin-bottom-remove" alt="Author Image">
    <h4 class="uk-margin-remove">name</h4>
    <span class="uk-text-small uk-text-muted">job</span>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec viverra sapien sed aliquam ullamcorper.</p>
</div>
