<div class="uk-comment">
    <header class="uk-comment-header">
        <img class="uk-comment-avatar" src="/images/demo.jpg" width="50" height="50" alt="User Image">
        <h4 class="uk-comment-title">name</h4>
        <div class="uk-comment-meta">time | <a href="#">Profile</a></div>
    </header>
    <div class="uk-comment-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec viverra sapien sed aliquam ullamcorper. Fusce magna dolor, aliquam nec
    </div>
</div>
