<div class="uk-panel uk-panel-box uk-margin-top">
    <h3 class="uk-panel-title">Center Text</h3>
    <p class="uk-text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla id risus rutrum.</p>
</div>
