<div class="uk-width-small-1-2 uk-width-medium-1-3">
    <p class="uk-text-primary">[Text Primary] Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tortor arcu.</p>
    <p class="uk-text-success">[Text Success] Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tortor arcu.</p>
    <p class="uk-text-danger">[Text Danger] Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tortor arcu.</p>
    <p class="uk-text-warning">[Text Warning] Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tortor arcu.</p>
</div>
