<div class="uk-panel uk-panel-box">
    <h3 class="uk-panel-title">Left Text</h3>
    <p class="uk-text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla id risus rutrum.</p>
</div>
