<div class="uk-panel uk-panel-box uk-margin-top">
    <h3 class="uk-panel-title">Right Text</h3>
    <p class="uk-text-right">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla id risus rutrum.</p>
</div>
