<div class="bh-position bh-position-default">
    <div class="uk-container uk-container-center">
        <div class="uk-grid" data-uk-grid-margin data-uk-grid-match="{target:'> div > .uk-panel'}">
            {% include 'includes/service/counter.twig' %}
            {% include 'includes/service/counter.twig' %}
            {% include 'includes/service/counter.twig' %}
        </div>
    </div>
</div>
