<div class="uk-grid">
    <div class="uk-width-medium-1-2">
        <figure class="uk-overlay"><img class="uk-overlay-scale" src=" /images/demo.jpg" width="800" height="515" alt="Service Image">
            <figcaption class="uk-overlay-panel uk-flex uk-flex-center uk-flex-middle uk-text-center">
                <div>
                    <h1 class="uk-text-contrast" data-uk-scrollspy="{cls:'uk-animation-fade'}">Lorem ipsum</h1>
                    <p class="bh-text-uppercase uk-text-contrast" data-uk-scrollspy="{cls:'uk-animation-fade', delay: 300}">De carne lumbering animat</p>
                </div>
            </figcaption>
        </figure>
    </div>
    <div class="uk-width-medium-1-2">
        <div class="uk-panel uk-panel-space">
            <h1 class="uk-article-title">De Carne Lumbering</h1>
            <p class="uk-article-lead">Lorem ipsum dolor sit amet.</p>
            <p class="uk-margin-bottom">Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De carne lumbering animata corpora quaeritis. Summus brains sit​​, morbo vel maleficia.</p>
            <button class="uk-button bh-button-secondary">Read more</button>
        </div>
    </div>
</div>
