<div class="bh-position bh-position-primary">
    <div class="uk-container uk-container-center">
        <div class="uk-panel">
            <div class="uk-grid" data-uk-grid-margin data-uk-grid-match="{target:'> div > .uk-panel'}">
                <div class="uk-width-medium-7-10 uk-text-center-small">
                    <div class="uk-panel">
                        <h3 class="uk-margin-bottom-remove">mortuis soulless creaturas, imo evil stalking monstra</h3>
                        <p class="uk-margin-top-remove">Hi mindless mortuis soulless creaturas, imo evil stalking monstra adventus resi dentevil vultus.</p>
                    </div>
                </div>
                <div class="uk-width-medium-2-10 uk-text-center-small">
                    <div class="uk-panel uk-flex uk-flex-middle">
                        <button class="uk-button uk-button-primary">Purchase now</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
