<form class="uk-form uk-grid">
    <div class="uk-width-1-1" data-uk-margin>
        <button class="uk-button uk-button-large">-</button>
        <input class="uk-form-large uk-form-width-mini" type="number" placeholder="1">
        <button class="uk-button uk-button-large">+</button>
        <div class="uk-button-group">
            <button class="uk-button uk-button-primary uk-button-large">Add to cart</button>
            <button class="uk-button uk-button-primary uk-button-large"><i class="uk-icon-star"></i></button>
        </div>
    </div>
</form>
