<div class="uk-width-1-3">
    <figure class="uk-overlay uk-overlay-hover"><img class="uk-overlay-spin" src=" /images/demo.jpg" width="720" height="540" alt="Product Image">
        <figcaption class="uk-overlay-panel uk-overlay-icon uk-overlay-background uk-overlay-fade"></figcaption>
        <a class="uk-position-cover" href="#" data-uk-slideshow-item="0"></a>
    </figure>
</div>
