<div class="uk-width-medium-1-2">
    <p class="uk-text-muted uk-h3"><del>$00.00</del> <ins>$00.00</ins></p>
    <div><i class="uk-icon-star uk-text-primary"></i> <i class="uk-icon-star uk-text-primary"></i> <i class="uk-icon-star uk-text-primary"></i> <i class="uk-icon-star uk-text-primary"></i> <i class="uk-icon-star"></i> <a class="uk-margin-small-left" href="#shop-single-details" data-uk-smooth-scroll="{offset: 90}">5 Reviews</a></div>
    <hr>
    <p>Qui animated corpse, cricket bat max brucks terribilem incessu zomby. The voodoo sacerdos flesh eater, suscitat mortuos comedere carnem virus. Zonbi tattered for solum oculi.</p>
    <p>Category: <a href="/shop">type,</a> <a href="/shop">type,</a> <a href="/shop">type</a>
        <br>Tags: <a href="/shop">type,</a> <a href="/shop">type,</a> <a href="/shop">type</a></p>
    <hr>
    <p><a href="#"><i class="uk-icon-envelope-o"></i></a> <a class="uk-margin-left" href="#"><i class="uk-icon-facebook"></i></a> <a class="uk-margin-left" href="#"><i class="uk-icon-twitter"></i></a> <a class="uk-margin-left" href="#"><i class="uk-icon-google-plus"></i></a></p>
    <p>
        <hr>
        {% include 'includes/singleproduct/add-to-cart-form.twig' %}
    </p>
</div>
