<div class="uk-width-1-1">
    <ul class="uk-comment-list uk-margin-top">
      {% include 'includes/singleproduct/review.twig' %}
      {% include 'includes/singleproduct/review.twig' %}
      {% include 'includes/singleproduct/review.twig' %}
      {% include 'includes/singleproduct/review.twig' %}
      {% include 'includes/singleproduct/review.twig' %}
    </ul>
</div>
