<div class="uk-width-1-1">
    <h3>Write a review</h3>
    <form class="uk-form uk-form-stacked">
        <div class="uk-grid" data-uk-margin="{cls:'uk-margin-top'}">
            <div class="uk-width-medium-1-2">
                <label class="uk-form-label" for="form-singleproduct-name">Name</label>
                <input type="text" placeholder="Enter your first name..." id="form-singleproduct-name" class="uk-width-1-1 uk-form-large">
            </div>
            <div class="uk-width-medium-1-2">
                <label class="uk-form-label" for="form-singleproduct-mail">E-Mail</label>
                <input type="text" placeholder="E-Mail address" id="form-singleproduct-mail" class="uk-width-1-1 uk-form-large">
            </div>
            <div class="uk-width-1-1">
                <label class="uk-form-label" for="form-singleproduct-review">Review</label>
                <textarea rows="6" placeholder="Enter you review..." id="form-singleproduct-review" class="uk-width-1-1 uk-form-large"></textarea>
            </div>
            <div class="uk-width-1-1 uk-clearfix">
                <div class="uk-float-left">Rate the product: <i class="uk-icon-star uk-text-primary"></i> <i class="uk-icon-star uk-text-primary"></i> <i class="uk-icon-star uk-text-primary"></i> <i class="uk-icon-star"></i> <i class="uk-icon-star"></i></div>
                <button class="uk-button bh-button uk-float-right">Submit</button>
            </div>
        </div>
    </form>
</div>
