<footer class="bh-footer uk-text-center-small">
    <div class="uk-container uk-container-center uk-position-relative">
        <a href="/"><img src=" /images/demo.jpg" class="uk-margin-right" alt="Footer Logo" width="60" height="60" data-demo-style></a> <span class="uk-hidden-small">2016 Ben Eaves. <a class="bh-topscroller" data-uk-smooth-scroll href="#"><i class="uk-icon-angle-up"></i></a></div>
</footer>
