<div class="bh-position bh-position-default">
    <div class="uk-container uk-container-center">
        <div class="uk-grid" data-uk-grid-margin>
{% include 'includes/general/footer-large/contact-small.twig' %}
            <div class="uk-width-large-2-3">
                <div class="uk-grid" data-uk-grid-match>
{% include 'includes/general/footer-large/links.twig' %}
{% include 'includes/general/footer-large/links.twig' %}
{% include 'includes/general/footer-large/links.twig' %}
{% include 'includes/general/footer-large/links.twig' %}
{% include 'includes/general/footer-large/social.twig' %}
{% include 'includes/general/footer-large/payment-options.twig' %}
                </div>
            </div>
        </div>
    </div>
</div>
