<div class="bh-header" data-uk-sticky="{top:-1}">
    <div class="bh-navbar">
        {% include 'includes/general/header/brand.twig' %}
        {% include 'includes/general/header/nav.twig' %}
        {% include 'includes/general/header/toolbars.twig' %}
    </div>
    {% include 'includes/general/header/search.twig' %}
</div>
