{% extends 'layout.twig' %}
{% block body %}
{% include 'includes/general/title-bar.twig' %}
<div class="bh-position bh-position-default">
    <div class="uk-container uk-container-center">
        {% include 'includes/forms/breadcrumb.twig' %}
        <article class="uk-article">
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-1-1">
                    <div class="uk-overflow-container">
                        <table class="uk-table uk-table-middle uk-text-nowrap">
                            {% include 'includes/wishlist/wishlist-header.twig' %}
                            <tbody>
                              {% include 'includes/wishlist/wishlist-item.twig' %}
                              {% include 'includes/wishlist/wishlist-item.twig' %}
                              {% include 'includes/wishlist/wishlist-item.twig' %}
                              {% include 'includes/wishlist/wishlist-item.twig' %}
                              {% include 'includes/wishlist/wishlist-item.twig' %}
                              {% include 'includes/wishlist/wishlist-item.twig' %}
                              {% include 'includes/wishlist/wishlist-item.twig' %}
                              {% include 'includes/wishlist/wishlist-item.twig' %}
                              {% include 'includes/wishlist/wishlist-item.twig' %}
                              {% include 'includes/wishlist/wishlist-item.twig' %}
                                <tr>
                                    <td colspan="6">
                                      {% include 'includes/cart/coupon.twig' %}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                {% include 'includes/cart/total-shipping-form.twig' %}
            </div>
        </article>
    </div>
</div>
{% endblock %}
