{% extends 'layout.twig' %}
{% block body %}
{% include 'includes/general/title-bar.twig' %}
<div class="bh-position bh-position-default">
    <div class="uk-container uk-container-center">
        <article class="uk-article">
            <div class="uk-grid">
                <div class="uk-width-1-1">
                    <div class="uk-grid" data-uk-grid-margin>
                      {% include 'includes/columns/size-1-1.twig' %}
                    </div>
                    <hr class="uk-grid-divider">
                    <div class="uk-grid uk-grid-divider" data-uk-grid-margin>
                      {% include 'includes/columns/size-1-2.twig' %}
                      {% include 'includes/columns/size-1-2.twig' %}
                    </div>
                    <hr class="uk-grid-divider">
                    <div class="uk-grid uk-grid-divider" data-uk-grid-margin>
                      {% include 'includes/columns/size-1-3.twig' %}
                      {% include 'includes/columns/size-1-3.twig' %}
                      {% include 'includes/columns/size-1-3.twig' %}
                    </div>
                    <hr class="uk-grid-divider">
                    <div class="uk-grid uk-grid-divider" data-uk-grid-margin>
                      {% include 'includes/columns/size-1-4.twig' %}
                      {% include 'includes/columns/size-1-4.twig' %}
                      {% include 'includes/columns/size-1-4.twig' %}
                      {% include 'includes/columns/size-1-4.twig' %}
                    </div>
                    <hr class="uk-grid-divider">
                    <div class="uk-grid uk-grid-divider" data-uk-grid-margin>
                      {% include 'includes/columns/size-1-5.twig' %}
                      {% include 'includes/columns/size-1-5.twig' %}
                      {% include 'includes/columns/size-1-5.twig' %}
                      {% include 'includes/columns/size-1-5.twig' %}
                      {% include 'includes/columns/size-1-5.twig' %}
                    </div>
                    <hr class="uk-grid-divider">
                    <div class="uk-grid uk-grid-divider" data-uk-grid-margin>
                      {% include 'includes/columns/size-1-6.twig' %}
                      {% include 'includes/columns/size-1-6.twig' %}
                      {% include 'includes/columns/size-1-6.twig' %}
                      {% include 'includes/columns/size-1-6.twig' %}
                      {% include 'includes/columns/size-1-6.twig' %}
                      {% include 'includes/columns/size-1-6.twig' %}
                    </div>
                    <hr class="uk-grid-divider">
                    <div class="uk-grid uk-grid-divider" data-uk-grid-margin>
                      {% include 'includes/columns/size-1-10.twig' %}
                      {% include 'includes/columns/size-1-10.twig' %}
                      {% include 'includes/columns/size-1-10.twig' %}
                      {% include 'includes/columns/size-1-10.twig' %}
                      {% include 'includes/columns/size-1-10.twig' %}
                      {% include 'includes/columns/size-1-10.twig' %}
                      {% include 'includes/columns/size-1-10.twig' %}
                      {% include 'includes/columns/size-1-10.twig' %}
                      {% include 'includes/columns/size-1-10.twig' %}
                      {% include 'includes/columns/size-1-10.twig' %}
                    </div>
                </div>
            </div>
        </article>
    </div>
</div>
{% endblock %}
