{% extends 'layout.twig' %}
{% block body %}
<div class="bh-position bh-position-default">
	<div class="uk-container uk-container-center">
	    <article class="uk-article">
	        <div class="uk-article uk-text-center">
	            <p class="uk-text-primary">Error 404</p>
	            <h1 class="uk-margin-top-remove">This page does not exist.</h1>
	            <p>Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro.<br> De carne lumbering <a href="#">Help Center</a> or <a href="#">Documentation</a>.</p>
	            <a href="/" class="uk-button bh-button-secondary">Return Back</a>
	        </div>
	    </article>
	</div>
</div>
{% endblock %}
