{% extends 'layout.twig' %}
{% block body %}
{% include 'includes/general/title-bar.twig' %}
<div class="uk-container uk-container-center" style="padding:3em">
    <div class="uk-container uk-container-center">
{% include 'includes/overlay/alignment.twig' %}
{% include 'includes/overlay/hover.twig' %}
{% include 'includes/overlay/positions.twig' %}
{% include 'includes/overlay/icons.twig' %}
{% include 'includes/overlay/animations.twig' %}
{% include 'includes/overlay/image-anchor-text.twig' %}
{% include 'includes/overlay/thumbnail.twig' %}
{% include 'includes/overlay/image-anchor-text-caption.twig' %}
{% include 'includes/overlay/thumbnail-caption.twig' %}
{% include 'includes/overlay/image-anchor-text-default.twig' %}
{% include 'includes/overlay/thumbnail-default.twig' %}
    </div>
</div>
{% endblock %}
