<div class="uk-push-1-2 uk-width-medium-1-2">
    <div class="uk-panel uk-panel-box uk-panel-header">
        <h3 class="uk-panel-title">Carts Total</h3><span class="uk-float-left">Cart Subtotal</span> <span class="uk-float-right">$209.80</span>
        <br><span class="uk-float-left">Shipping <a href="#shop-cart-shipping" data-uk-modal>(Calculate)</a></span> <span class="uk-float-right">Free Shipping</span>
        <br>
        <br><span class="uk-float-left">Order Total Price</span> <span class="uk-float-right">$00.00</span>
        <div id="shop-cart-shipping" class="uk-modal">
            <div class="uk-modal-dialog">
                <form class="uk-form">
                    <div class="uk-grid" data-uk-margin="{cls:'uk-margin-top'}">
                        <div class="uk-width-medium-1-1">
                            <select>
                                <option>Australia (AU)</option>
                                <option>United Stated (US)</option>
                            </select>
                        </div>
                        <div class="uk-width-medium-1-1">
                            <input type="text" placeholder="State / county" class="uk-form-large uk-width-1-1">
                        </div>
                        <div class="uk-width-medium-1-1">
                            <input type="text" placeholder="Postcode / ZIP" class="uk-form-large uk-width-1-1">
                        </div>
                        <div class="uk-width-1-1">
                            <button class="uk-button uk-button-primary uk-float-right">Update Totals</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
