<div class="uk-grid" data-uk-grid-margin data-uk-grid-match="{target:'> div > .uk-panel'}">

    <div class="uk-width-medium-1-2 uk-width-large-3-5">
        <div class="uk-panel">
            <figure class="uk-overlay bh-image-cover">
                <img class="uk-overlay-scale bh-img-height-1-1" src=" /images/demo.jpg" width="800" height="400" alt="Collection Image" data-demo-style>
                <figcaption class="uk-overlay-panel uk-flex uk-flex-center uk-flex-middle uk-text-center">
                    <div>
                        <h1 data-uk-scrollspy="{cls:'uk-animation-fade'}">Big Fall Sale</h1>
                        <a href="/shop" class="uk-button bh-button-secondary bh-button-secondary" data-uk-scrollspy="{cls:'uk-animation-fade', delay: 500}">Explore</a>
                    </div>
                </figcaption>
            </figure>
        </div>
    </div>

    <div class="uk-width-medium-1-2 uk-width-large-2-5">
        <div class="uk-panel uk-panel-box">
            <h1 class="uk-article-title">Men</h1>
            <p class="uk-article-lead">Lorem ipsum dolor sit amet.</p>
            <p class="uk-margin-bottom">Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De carne lumbering animata corpora quaeritis. Summus brains sit​​, morbo vel maleficia.</p>
            <a href="/shop" class="uk-button bh-button-secondary">Men shop</a>
        </div>
    </div>
</div>
