<div class="bh-position bh-position-default">
    <div class="uk-container uk-container-center">
        <div class="uk-grid">
            <div class="uk-width-1-1">
                <article class="uk-article">
{% include 'includes/index/img-info-women.twig' %}
{% include 'includes/index/img-info-men.twig' %}
                </article>
            </div>

        </div>
    </div>
</div>
