<div class="bh-position bh-position-default">
    <div class="uk-panel uk-text-center">
        <form class="uk-form">
            Sign up for the style newsletter
            <br class="uk-visible-small">
            <input class="uk-form-large uk-margin-small-left uk-margin-small-right bh-margin-top-only-small" type="text" placeholder="Enter your email...">
            <br class="uk-visible-small">
            <a href="/shop" class="uk-button uk-margin-right-small bh-margin-top-only-small">Women</a>
            <a href="/shop" class="uk-button bh-margin-top-only-small">Men</a>
        </form>
    </div>
</div>
