<div class="bh-position bh-position-padding-remove" data-uk-slideshow="{animation: 'fade', duration: 700}">
    <ul class="uk-slideshow uk-slideshow-fullscreen bh-slideshow uk-overlay-active">
        <li>
            <img src=" /images/demo.jpg" width="1200" height="660" alt="Slideshow Image" data-demo-style>

            <div class="uk-overlay-panel uk-flex uk-flex-center uk-flex-middle uk-text-center">
                <div>
                    <p class="bh-teaser-subtitle-primary bh-text-uppercase uk-animation-slide-top bh-animation-delay-300">Summer 2015</p>
                    <h1 class="bh-teaser-headline uk-margin-remove uk-animation-fade bh-animation-delay-200">New Collection</h1>
                    <p class="bh-teaser-subtitle-secondary bh-text-uppercase uk-visible-large uk-animation-slide-bottom bh-animation-delay-300">Check out the new collection</p>
                    <p class="uk-margin-bottom-remove">
                        <a href="/shop" class="uk-button uk-button-large bh-button-secondary uk-margin-right uk-animation-fade bh-animation-delay-500">Women</a>
                        <a href="/shop" class="uk-button uk-button-large bh-button-secondary uk-animation-fade bh-animation-delay-500">Men</a>
                    </p>
                </div>
            </div>

            <a data-uk-slideshow-item="previous" href="#" class="uk-slidenav uk-slidenav-previous uk-hidden-small">
                <div class="bh-slideshow-preview">
                    <img class="bh-slideshow-preview-image" src=" /images/demo.jpg" width="120" height="120">
                    <h4 class="uk-text-muted uk-margin-top-remove uk-margin-small-bottom uk-visible-large">Big Spring Sale</h4>
                    <p class="uk-margin-remove uk-visible-large">Take the chance to get the best deals</p>
                </div>
            </a>

            <a data-uk-slideshow-item="next" href="#" class="uk-slidenav uk-slidenav-next uk-hidden-small">
                <div class="bh-slideshow-preview">
                    <img class="bh-slideshow-preview-image" src=" /images/demo.jpg" width="120" height="120">
                    <h4 class="uk-text-muted uk-margin-top-remove uk-margin-small-bottom uk-visible-large">Winter Collection</h4>
                    <p class="uk-margin-remove uk-visible-large">Check out what is new for the upcoming winter</p>
                </div>
            </a>
        </li>
        <li>
            <video autoplay="autoplay" loop="loop">
                <source src="images/home_slide-02.webm" type="video/webm">
                <source src="images/home_slide-02.ogv" type="video/ogg">
                <source src="images/home_slide-02.mp4" type="video/mp4">
              Your browser does not support the <code>video</code> element.
            </video>

            <div class="uk-overlay-panel uk-flex uk-flex-center uk-flex-middle uk-text-center">
                <div>
                    <p class="bh-teaser-subtitle-primary uk-text-contrast bh-text-uppercase uk-animation-slide-top bh-animation-delay-300">Winter 2014</p>
                    <h1 class="bh-teaser-headline uk-text-contrast uk-margin-remove uk-animation-fade bh-animation-delay-200">Winter Collection</h1>
                    <p class="bh-teaser-subtitle-secondary uk-text-contrast bh-text-uppercase uk-visible-large uk-animation-slide-bottom bh-animation-delay-300">Check out what is new for the upcoming winter</p>
                    <p>
                        <a href="/shop" class="uk-button uk-button-large bh-button-secondary bh-button-secondary-contrast uk-margin-right uk-animation-fade bh-animation-delay-500">Women</a>
                        <a href="/shop" class="uk-button uk-button-large bh-button-secondary bh-button-secondary-contrast uk-animation-fade bh-animation-delay-500">Men</a>
                    </p>
                </div>
            </div>

            <a data-uk-slideshow-item="previous" href="#" class="uk-slidenav uk-slidenav-previous uk-hidden-small">
                <div class="bh-slideshow-preview">
                    <img class="bh-slideshow-preview-image" src=" /images/demo.jpg" width="120" height="120" data-demo-style>
                    <h4 class="uk-text-muted uk-margin-top-remove uk-margin-small-bottom">Summer Collection</h4>
                    <p class="uk-margin-remove">Check out the new collection</p>
                </div>
            </a>

            <a data-uk-slideshow-item="next" href="#" class="uk-slidenav uk-slidenav-next uk-hidden-small">
                <div class="bh-slideshow-preview">
                    <img class="bh-slideshow-preview-image" src=" /images/demo.jpg" width="120" height="120" data-demo-style>
                    <h4 class="uk-text-muted uk-margin-top-remove uk-margin-small-bottom uk-visible-large">Big Spring Sale</h4>
                    <p class="uk-margin-remove uk-visible-large">Take the chance to get the best deals</p>
                </div>
            </a>
        </li>
        <li>
            <img src=" /images/demo.jpg" width="1200" height="660" alt="Slideshow Image" data-demo-style>

            <div class="uk-overlay-panel uk-flex uk-flex-center uk-flex-middle uk-text-center">
                <div>
                    <p class="bh-teaser-subtitle-primary uk-text-contrast bh-text-uppercase uk-animation-slide-top bh-animation-delay-300">Spring 2014</p>
                    <h1 class="bh-teaser-headline uk-text-contrast uk-margin-remove uk-animation-fade bh-animation-delay-200">Big Spring Sale</h1>
                    <p class="bh-teaser-subtitle-secondary uk-text-contrast bh-text-uppercase uk-visible-large uk-animation-slide-bottom bh-animation-delay-300">Take the chance to get the best deals</p>
                    <p>
                        <a href="/shop" class="uk-button uk-button-large bh-button-secondary bh-button-secondary-contrast uk-margin-right uk-animation-fade bh-animation-delay-500">Women</a>
                        <a href="/shop" class="uk-button uk-button-large bh-button-secondary bh-button-secondary-contrast uk-animation-fade bh-animation-delay-500">Men</a>
                    </p>
                </div>
            </div>

            <a data-uk-slideshow-item="previous" href="#" class="uk-slidenav uk-slidenav-previous uk-hidden-small">
                <div class="bh-slideshow-preview">
                    <img class="bh-slideshow-preview-image" src=" /images/demo.jpg" width="120" height="120">
                    <h4 class="uk-text-muted uk-margin-top-remove uk-margin-small-bottom">Winter Collection</h4>
                    <p class="uk-margin-remove">Check out what is new for the upcoming winter</p>
                </div>
            </a>

            <a data-uk-slideshow-item="next" href="#" class="uk-slidenav uk-slidenav-next uk-hidden-small">
                <div class="bh-slideshow-preview">
                    <img class="bh-slideshow-preview-image" src=" /images/demo.jpg" width="120" height="120" data-demo-style>
                    <h4 class="uk-text-muted uk-margin-top-remove uk-margin-small-bottom">Summer Collection</h4>
                    <p class="uk-margin-remove">Check out the new collection</p>
                </div>
            </a>
        </li>
    </ul>
</div>
