<div class="bh-position bh-position-default">
    <div class="uk-container uk-container-center">
        <div class="uk-grid" data-uk-grid-margin>
            <div class="uk-width-1-1">
                <div class="uk-panel">
                    {% include 'includes/index/store-display-tab/top-bar.twig' %}
                    <ul id="home-product-slider" class="uk-switcher uk-margin">
                      {% include 'includes/index/store-display-tab/top-seller-tab.twig' %}
                      {% include 'includes/index/store-display-tab/must-have-tab.twig' %}
                      {% include 'includes/index/store-display-tab/sale-tab.twig' %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
