<div class="uk-panel">
    <ul class="uk-nav uk-nav-side">
        <li class="uk-nav-header">Categories</li>
        <li class="uk-active"><a href="#">item <span>(1)</span></a></li>
        <li><a href="#">item <span>(1)</span></a></li>
        <li><a href="#">item <span>(1)</span></a></li>
        <li><a href="#">item <span>(1)</span></a></li>
        <li><a href="#">item <span>(1)</span></a></li>
    </ul>
</div>
