<div class="uk-panel uk-panel-header">
    <h3 class="uk-panel-title">Featured Products</h3>
    <ul class="uk-list uk-list-space">
      {% include 'includes/shop/product.twig' %}
      {% include 'includes/shop/product.twig' %}
      {% include 'includes/shop/product.twig' %}
      {% include 'includes/shop/product.twig' %}
      {% include 'includes/shop/product.twig' %}
      {% include 'includes/shop/product.twig' %}  
    </ul>
</div>
