<div class="uk-panel uk-panel-header">
    <h3 class="uk-panel-title">Newsletter</h3>
    <p>Consetetur sadipscing elitr, sed diam nonumy et dolore magna aliquyam.</p>
    <form class="uk-form">
        <div class="uk-form-row">
            <input class="uk-width-1-1" type="text" placeholder="E-Mail">
        </div>
        <div class="uk-form-row">
            <button class="uk-button bh-button">Subscribe</button>
        </div>
    </form>
</div>
