<div class="uk-width-small-1-2">
    <div class="uk-panel">
        <div class="uk-panel-badge uk-badge uk-badge-danger">Sale</div>
        <figure class="uk-overlay uk-overlay-hover bh-overlay-image">
            <a class="uk-position-cover" href="/singleproduct"></a> <img src=" /images/demo.jpg" width="720" height="540" alt="Product Image"> <img class="bh-overlay-image-hover" src=" /images/demo.jpg" width="720" height="540" alt="Product Image Overlay">
            <figcaption class="uk-overlay-panel uk-overlay-bottom uk-overlay-slide-bottom bh-padding-remove">
                <div>
                    <div class="uk-button-group uk-width-1-1"><a href="/cart" class="uk-button uk-button-large uk-width-8-10">Add to cart</a> <a href="/wishlist" class="uk-button uk-button-large uk-width-2-10"><i class="uk-icon-star"></i></a></div>
                </div>
            </figcaption>
        </figure>
        <div class="uk-float-left uk-margin-top">
            <h3 class="uk-margin-small-bottom uk-link-reset"><a href="#">name</a></h3>
            <p class="uk-margin-remove"><a href="#">category,</a> <a href="#">category</a></p>
        </div><span class="uk-float-right uk-margin-top uk-text-large"><del>$00.00</del> <ins>$00.00</ins></span></div>
</div>
