<div class="uk-width-1-1">
    <div class="uk-form uk-clearfix">
        <div class="uk-form-controls">
            <div class="uk-grid" data-uk-margin="{cls: 'uk-margin-top'}">
                <div class="uk-width-small-1-2"><span class="uk-float-left">Showing 1–6 of 16 results</span></div>
                <div class="uk-width-small-1-2">
                    <select class="uk-float-right">
                        <option>Default Sorting</option>
                        <option>Sort by popularity</option>
                        <option>Sort by rating</option>
                        <option>Sort by price: low to high</option>
                        <option>Sort by price: high to low</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>
