<div class="uk-width-small-1-2">
    <h2 class="uk-h4">1/2</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec viverra sapien sed aliquam ullamcorper. Fusce magna dolor, aliquam nec quam vel, lacinia rhoncus odio. Nulla facilisi.</p>
</div>
