<div class="uk-grid" data-uk-grid-margin>
    <div class="uk-width-small-1-5">
        <h3>job</h3><a href="#" class="uk-button uk-button-primary">Apply</a></div>
    <div class="uk-width-small-4-5">
        <div class="uk-grid" data-uk-grid-margin>
            <div class="uk-width-1-1">
                <p>De apocalypsi gorger omero undead survivor dictum mauris. Hi mindless mortuis soulless creaturas, imo evil stalking monstra adventus resi dentevil vultus comedat.</p>
            </div>
            {% include 'includes/team/info-list.twig' %}
            {% include 'includes/team/info-list.twig' %}
        </div>
    </div>
</div>
