<div class="uk-width-medium-1-2"><span class="bh-text-uppercase uk-text-muted">info</span>
    <ul class="uk-list">
        <li><i class="uk-icon-angle-right uk-margin-right"></i>Ipsum reversus ab viral inferno</li>
        <li><i class="uk-icon-angle-right uk-margin-right"></i>Sicut malus putrid voodoo horror nigh tofth</li>
        <li><i class="uk-icon-angle-right uk-margin-right"></i>Ipsum reversus ab viral inferno</li>
    </ul>
</div>
