<div class="bh-position bh-position-primary">
    <div class="uk-container uk-container-center">
        <div class="uk-panel uk-panel-space">
            <div class="uk-grid uk-grid-divider" data-uk-grid-margin data-uk-grid-match="{target:'> div > .uk-panel'}">
                <div class="uk-width-medium-2-6">
                    <div class="uk-panel uk-text-right uk-text-center-small uk-flex uk-flex-middle">
                        <h1>info</h1></div>
                </div>
                <div class="uk-width-medium-4-6 uk-text-center-small">
                    <div class="uk-panel">
                        <p>Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro.
                            <br>De carne lumbering animata corpora quaeritis.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
