<div class="bh-position bh-position-default">
    <div class="uk-container uk-container-center">
        <article class="uk-article">
            <div class="uk-grid uk-margin-top" data-uk-grid-margin data-uk-grid-match="{target:'> div > .uk-panel'}">
                {% include 'includes/team/staff-panel-half.twig' %}
                {% include 'includes/team/staff-panel-half.twig' %}
            </div>
            <div class="uk-grid-divider"></div>
            <div class="uk-grid" data-uk-grid-margin data-uk-grid-match="{target:'> div > .uk-panel'}">
              {% include 'includes/team/staff-panel-one-third.twig' %}
              {% include 'includes/team/staff-panel-one-third.twig' %}
              {% include 'includes/team/staff-panel-one-third.twig' %}
            </div>
        </article>
    </div>
</div>
